body { margin: 0;}
img { max-width: 100%; height: auto;}
a { text-decoration: none;}
html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #ffffff;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f2f2f2;

  /* font: [font-style||font-variant||font-weight||font-stretch] font-size [/line-height] font-family */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;

  --box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

/* лого */
.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

/* page:1 */

/* Навигация */
.main-navigation {
  background-color: #ffffff;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  height: 56px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-navigation-list li {
  padding: 0;
  margin: 0;
}

.main-navigation-list li:nth-of-type(2) {
  margin-right: 244px;
}

.main-navigation-list a {
  color: #000000;
}

.main-navigation-list a:hover {
  color: #81b3d2;
}

.main-navigation-list a:active {
   color: rgba(0, 0, 0, 0.3);
}

.main-navigation-list .active {
  color: rgba(0, 0, 0, 0.3);
}

/* Добро пожаловать */
.welcome {
  position: relative;

  height: 781px;

  background-color:#ededed;
  background-image:
    url("../img/welcome.svg"),
    url("../img/polygon.png"),
    url("../img/bg.jpg");
  background-position:
    50% 132px,
    0 507px,
    0 0 ;
  background-repeat: no-repeat;
  background-size:
    459px 353px,
    1203px 59px,
    1200px 800px;
}

.welcome-text {
  position: absolute;
  top: 564px;
  left: 0;

  width: 100%;
  min-height: 216px;

  font-size: 21px;
  text-align: center;

  background-color: #ffffff;

  border: 1px solid red; /* tmp */
}

.welcome-text strong {
  display: inline-block;
  margin-top: 61px;
}

.welcome-text p {
  margin-top: 38px;
  margin-bottom: 0;

  font-size: 14px;
  font-weight: 400;
}

/* Небольшой городок/Мост дъявола */
.true-city,
.devils-bridge
{
  display: flex;
  height: 256px;
}

.devils-bridge {
  flex-direction: row-reverse;
}

.true-city-text,
.devils-bridge-text {
  width: 400px;

  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.true-city-text {
  padding-top: 46px;
  padding-right: 60px;
  padding-bottom: 64px;
  padding-left: 60px;
}

.devils-bridge-text {
  padding-top: 49px;
  padding-right: 49px;
  padding-bottom: 65px;
  padding-left: 48px;
}

.true-city-text h2,
.devils-bridge-text h2 {
  margin-top: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}
.true-city-text p,
.devils-bridge-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/* Преимущества */
.advantage-living {
  background-color: #ffffff;
}

.advantage-location {
  background-color: #eeeeee;
}

.advantage-living-list,
.advantage-location-list {
  display: flex;
  padding: 0;

  list-style: none;
}

.advantage-living-list li,
.advantage-location-list li {
  width: 400px;
  text-align: center;

  border: 1px solid red;  /* tmp */
}

.advantage-living-list li {
  min-height: 330px;
}

.advantage-location-list li {
  min-height: 256px;
}

.advantage-living-list h3,
.advantage-location-list h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.advantage-living-list p,
.advantage-location-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

/* Главный футер */
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  min-height: 120px;


  background-color: #ffffff;
  opacity: 0.9;

  border: 1px solid red;  /* tmp */
}

.footer-shift {
  margin-top: -120px;
}

.main-footer-visit {
  font-size: 21px;
  border: 1px solid red;  /* tmp */
}

.main-footer-social {
  display: flex;

  padding: 0;
  list-style: none;

  border: 1px solid red; /* tmp */
}

.main-footer-social > li {
  width: 46px;
  height: 48px;
  margin-right: 6px;

  background-color: #81b3d2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.main-footer-social > li:last-of-type {
  margin-right: 0;
}

.main-footer-social .twitter {
  background-image: url("../img/tw-i.svg");
  background-size: 17px 15px;
}

.main-footer-social .facebook {
  background-image: url("../img/fb-i.svg");
  background-size: 12px 22px;
}

.main-footer-social .youtube {
  background-image: url("../img/youtube-i.svg");
  background-size: 20px 16px;
}

.main-footer-logo {
  display: flex;
  justify-content: center;

  border: 1px solid red;  /* tmp */
}

.main-footer-logo-text {
  align-self: center;
  margin-right: 8px;

  font-weight: 400;
}

.main-footer-logo-link {
  align-self: flex-end;
}

/* Приглашение */
.invitation {
  background-color: #ffffff;
}

.invitation-text {
  padding-top: 57px;
  text-align: center;
}

.invitation-text strong {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.invitation-text p {
  margin-top: 30px;
  margin-bottom: 0;

  font-weight: normal;
  line-height: 24px;
}

.button {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.invitation-button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  width: 568px;
  height: 86px;
  margin-top: 48px;

  line-height: 26px;

  background-color: #766357;
}

.search-button {
  width: 100%;
  min-height: 58px;
  margin-top: 54px;

  line-height: 26px;

  background-color: #81b3d2;
}

/* Форма поиска отеля на главной */
.search {
  position: relative;

  margin: 0 auto;
  width: 568px;
  height: 395px;
  padding: 55px;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

}

/* Календарь в форме поиска отеля */
.calendar {
  display: flex;
  justify-content: space-between;
  width: 458px;
  height: 38px;
}

.search > .calendar:last-of-type {
  margin-top: 29px;
}

.calendar-label {
  padding-top: 8px;
}

.calendar-data {
  display: flex;
  width: 346px;

  background-color: #f2f2f2;
}

.calendar-data input {
  flex-grow: 1;

  padding-left: 8px;
  padding-right: 8px;

  border: none;
  background-color: transparent;
}

.calendar-data input:focus {
  outline: none;
}

.calendar-data button {
  width: 21px;
  height: 22px;
  margin-top: 7px;
  margin-right: 9px;

  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-size: 21px 22px;
  opacity: 0.3;
}

/* Выбор количества взрослых и детей в форме поиска отеля */
.people {
  display: flex;
  justify-content: space-between;
  height: 38px;
  margin-top: 30px;
}

.people-adults,
.people-children {
  display: flex;
  justify-content: space-between;
  width: 225px;
}

.people-label {
  padding-top: 10px;
}

.people-data {
  display: flex;
  width: calc(38px * 3);

  background-color: #f2f2f2;
}

.people-data button,
.people-data input {
  width: 38px;

  border: none;
  background-color: transparent;
}

.people-data input {
  text-align: center;
}

.people-children label {
  padding-left: 40px;
}

/* Карта */
.map {
  margin-top: -395px;
}

/* page:2 Окончательный выбор отеля  */

/* Форма выбора отеля на внутренней странице */
.hotel {
  display: flex;
  justify-content: space-between;

  border: 1px solid grey; /* tmp */
}

.hotel input + label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hotel input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 16px;
  vertical-align: middle;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.hotel input[type=checkbox]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.hotel input[type=checkbox] + label:hover,
.hotel input[type=checkbox]:focus + label {
  color: #81b3d2;
}

.hotel fieldset:nth-last-child(1) {
  margin-left: auto;
}

.price-text {
  position: relative;

  display: block;
  height: 32px;
  line-height: 28px;

  border: 2px solid grey;
}

.price-width {
  width: 314px;
}

.price-text label {
  display: inline-block;
  width: 49%;

  text-align: center;
}

.price-text label:first-child::after {
  position: absolute;
  top: 2px;
  left: 50%;

  content: "";
  width: 2px;
  height: 22px;

  border: 1px solid grey;
}

.price-select {
  position: relative;
  display: block;
  margin-top: 22px;
  border-top: 2px solid grey;
}

.price-select > button
{
  position: absolute;
  top: -11px;

  content: "";
  width: 20px;
  height: 22px;

  border: none;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-color: grey;   /* tmp */
  background-size: 20px 22px;
}

.price-select > button:nth-of-type(2) {
  left: 232px;
}

.price > button {
  display: block;

  margin: 0 auto;
  margin-top: 34px;
  width: 133px;
  height: 32px;

  border: solid 2px grey;   /* tmp */
}

.price > button:hover {
  background-color: grey; /* tmp */
  color: white; /* tmp */
}

/* Список выбранных отелей */
.hotel-list {
  list-style: none;
  padding: 0;

  background-color: #ffffff;
}

.hotel-item-feature {
  font-size: 14px;
  line-height: 21px;
}

.hotel-item-feature h3 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-item-feature p:nth-of-type(n+2):nth-of-type(-n+3)
{
  font-weight: 400;
  color: #333333;
}

.hotel-item-feature a {
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-right: 16px;

  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-item-feature a:nth-last-of-type(1) {
  background-color: #766357;
}

.hotel-item-feature a:nth-of-type(1) {
  margin-right: 2px;
}

.hotel-item-feature .rating {

  display: inline-block;

  padding-top: 5px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;

}
