body { margin: 0;}
img { max-width: 100%;}
a { text-decoration: none;}
html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-toggle-search {
  width: 568px;
  height: 86px;
}

.btn-search {
  position: absolute;
  top: 282px;

  width: 100%;
  height: 58px;
  margin: 0 auto;

  text-align: center;
}

.wrap-search {
  width: 568px;
  height: 395px;

  border: 1px solid lemonchiffon; /* tmp */
}

.search {
  position: relative;

  width: 458px;
  height: 350px;
  margin: 0 auto;
  padding: 55px 0;
}

/* Calendar */
.calendar {
  display: flex;
  justify-content: space-between;
  width: 458px;
  height: 38px;
}

.search > .calendar:last-of-type {
  margin-top: 29px;
}

.calendar-label {
  padding-top: 8px;
}

.calendar-data {
  display: flex;
  width: 346px;

  background-color: #f2f2f2;
}

.calendar-data input {
  flex-grow: 2;

  padding-left: 8px;
  padding-right: 8px;

  border: none;
  background-color: transparent;
}

.calendar-data input:focus {
  outline: none;
}

.calendar-data button {
  width: 21px;
  height: 22px;
  margin-top: 7px;
  margin-right: 9px;

  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-size: 21px 22px;
  opacity: 0.3;
}

.people {
  display: flex;
  justify-content: space-between;
  height: 38px;
  margin-top: 30px;
}

.people-adults,
.people-children {
  display: flex;
  justify-content: space-between;
  width: 225px;
}

.people-label {
  padding-top: 10px;
}

.people-data {
  display: flex;
  width: calc(38px * 3);

  background-color: #f2f2f2;
}

.people-data button,
.people-data input {
  width: 38px;

  border: none;
  background-color: transparent;
}

.people-data input {
  text-align: center;
}

.people-children label {
  padding-left: 40px;
}

/* select hotel */
.hotel {
  display: flex;
  justify-content: space-between;

  border: 1px solid grey; /* tmp */
}

.hotel input + label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hotel input[type=checkbox] {
  display: none;
}

.hotel input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 16px;
  vertical-align: middle;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.hotel input[type=checkbox]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.hotel input[type=checkbox] + label:hover {
  color: #81b3d2;
}

.price-text {
  position: relative;

  display: block;
  height: 32px;
  line-height: 28px;

  border: 2px solid grey;
}

.price-width {
  width: 314px;
}

.price-text label {
  display: inline-block;
  width: 49%;

  text-align: center;
}

.price-text label:first-child::after {
  position: absolute;
  top: 2px;
  left: 50%;

  content: "";
  width: 2px;
  height: 22px;

  border: 1px solid grey;
}

.price-select {
  position: relative;
  display: block;
  margin-top: 22px;
  border-top: 2px solid grey;
}

.price-select > button
{
  position: absolute;
  top: -11px;

  content: "";
  width: 20px;
  height: 22px;

  border: none;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-color: grey;   /* tmp */
  background-size: 20px 22px;
}

.price-select > button:nth-of-type(2) {
  left: 232px;
}

.price > button {
  display: block;
  margin: 0 auto;
  margin-top: 34px;
  width: 133px;
  height: 32px;

  border: solid 2px grey;   /* tmp */
}

.price > button:hover {
  background-color: grey; /* tmp */
  color: white; /* tmp */
}
